.notifier-view-partial-post-header {
  font-size: 2.25rem;
}

.notifier-view-partial-post-summary {
  font-size: 2.00rem;
}

.notifier-view-partial-post-link {
  background-color: #fff;
  border: 0.25rem #EE5A24 solid;
  color: #EE5A24;
  cursor: pointer;
  display: block;
  font-size: 1.75rem;
  margin: 2.0rem 0;
  padding: 2.0rem;
  text-align: center;
}