.notifier-view-about-content {
  text-align: justify;

  .notifier-view-about-paragraph {
    font-size: 2.00rem;
  }

  .notifier-view-about-paragraph:not(:first-of-type) {
    margin-top: 1.0rem;
  }

  a {
    background-color: #fff;
    border: 0.25rem #EE5A24 solid;
    color: #EE5A24;
    cursor: pointer;
    display: block;
    font-size: 1.75rem;
    margin: 2.0rem 0;
    padding: 2.0rem;
    text-align: center;
  }
}