.notifier-view-main-menu-menu-item {
  background-color: #d35400;
  border: solid 0 white;
  cursor: pointer;
  display: inline-block;
  height: 25.0rem;
  margin: 0;
  padding: 2.0rem;
  width: 50%;
  vertical-align: top;

  &:nth-child(odd) {
    border-width: 2.0rem 0 0 1.0rem;
  }

  &:nth-child(even) {
    border-width: 2.0rem 1.0rem 0 0;
  }

  .notifier-view-main-menu-menu-title {
    color: white;
    cursor: pointer;
    font-size: 2.00rem;
    text-align: left;
  }

  .notifier-view-main-menu-menu-description {
    color: white;
    cursor: pointer;
    font-weight: lighter;
    font-size: 1.25rem;
    margin-top: 1.0rem;
    text-align: left;
  }
}