.notifier-view-splash-screen-container {
  background: #EE5A24 url('../img/background.jpg') center center;
  background-size: cover;
  display: block;
  height: 100vh;
  left: 0;
  line-height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 1000;

  article {
    display: inline-block;
    margin: 0;
    padding: 2.0rem;
    text-shadow: 1px 1px 0 #000;

    .notifier-view-splash-screen-logo {
      color: white;
      font-size: 25.0rem;
      line-height: initial;
    }

    p {
      color: white;
      font-size: 3.0rem;
      line-height: initial;
      text-align: center;
    }
  }
}