@import "fonts.less";
@import "scrollbars.less";

* {
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: default;
  font-family: 'Enriqueta', serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  min-height: 100vh;
  overflow-y: scroll;
}

header, section, footer {
  padding: 3.0rem;
}

header, section {
  h1 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 1.0rem;
  }
}

section {
  background-color: #fff;

  * {
    color: #000;
  }

  header {
    margin-bottom: 2.0rem;
    padding: 0;
  }
}

article {
  margin-bottom: 1.0rem;
}

p {
  text-align: justify;
}

code {
  background: #000000;
  color: #27ae60;
  display: block;
  font-family: "Inconsolata", monospace;
  margin-bottom: 1.25rem;
  overflow-x: auto;
  padding: 6rem 3rem 3rem 3rem;
  position: relative;
  text-align: left;
  white-space: pre;

  &.output {
    color: #f1c40f;
  }

  &:before {
    background: #d35400;
    color: #fff;
    left: 0;
    padding: 1.0rem 2.0rem;
    position: absolute;
    top: 0;
  }

  &.php:before {
    content: "PHP";
  }

  &.sql:before {
    content: "SQL";
  }

  &.css:before {
    content: "CSS";
  }

  &.html:before {
    content: "HTML";
  }

  &.js:before {
    content: "JS";
  }

  &.yaml:before {
    content: "YAML";
  }

  &.output:before {
    content: "KONSOLA";
  }

  &.cs:before {
    content: "C#";
  }
}

#application-section-header {
  background: #EE5A24 url('../img/background.jpg') center center;
  background-size: cover;
  display: inline-block;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  width: 100%;

  div {
    width: 100%;
  }
}

#application-logo-text {
  font-size: 15.0rem;
}

#application-back-button {
  background-color: #EE5A24;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2.25rem;
  left: -2px;
  margin: 0;
  overflow: hidden;
  padding: 1.0rem 2.0rem;
  position: fixed;
  top: 1.0rem;
}

#application-section-view {
  border-color: #EE5A24;
  border-style: solid;
  border-width: 0 1px 0 1px;
}

#application-section-version {
  font-weight: normal;
}

@import "messages.less";

@import "view/about.less";
@import "view/main-menu.less";
@import "view/partial/posts-list.less";
@import "view/splash-screen.less";
@import "view/where-am-i.less";

@import (less) "../../node_modules/leaflet/dist/leaflet.css";