.message {
  bottom: 0;
  display: inline-block;
  font-size: 1.5rem;
  left: 0;
  margin: 0;
  padding: 2.0rem;
  position: fixed;
  text-align: center;
  width: 100vw;

  &.error {
    background-color: darkred;
  }

  &.success {
    background-color: darkgreen;
  }

  h2 {
    color: white;
    margin: 0;
  }
}